$dark: #4d144b;
$info:#45797f;

@import "/node_modules/bootstrap/scss/bootstrap.scss";

img {
  width: 100%;
  object-fit: cover;
}
.navbar {
  height: 38px;
}
.main-container,.discover-heading,
.discover-list,
.footer-content01,.footer-content02{
    max-width: 1222px;
}
h1 {
  font-size: 65px;
}

.main-content__absolute1 {
  height: 45%;
  width: 50%;
  top: -60px;
  object-fit: cover;
  z-index: -1;
  left: -14%;
}
.main-content__images-2 figcaption {
  font-size: x-small;
}
.main-content__email-input {
  min-height: 62px; 
}
.main-content__input-box2 a,.main-content__input-meta p  {
  font-size: small;
}

.main-content__email-input::placeholder {
  font-size: small;
  padding: 4%;
}
.main-content__input-meta {
  font-size: medium;
}
.cta a {
  font-size: small;
  width: 35%;
  text-align: center;
  color: #4d144b;
}
.footer__list li h6,
.footer__list li a,
.footer__list2 a {
  font-size: 0.8rem;
}
.footer__list1 a,
.footer__list1 select {
  font-size: 0.7rem;
}

@media screen and (max-width: 768px) {}